*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.container{
    margin: 0 auto;
    width: 960px;
}
footer {
    height: 100px;
    width: 100px;
    bottom: 0px;
    
}

footer p{
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}




