* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

div.container {
    width: 960px;
    margin: 0 auto;
}

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

div.image-blok {
    
    position: relative;
}

div.receptnaam{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}

div.overlay {
    position: absolute;
    top: 0;  
    background-color: grey;
    color: #f1f1f1;
    width: 300px;
    height: 200px;
    transition: .5s ease;
    opacity: 0;
    padding: 20px;
    
}
div.image-blok:hover .overlay {
    opacity: 1;
}

div.overlay-bar{
    position: absolute;
    bottom: -15px;
    right:  0.5px;
    width: 300px;
    height: 70px;
    transition: .5s ease;
    opacity: 0;
}

div.image-blok:hover .overlay-bar {
    opacity: 1;
}

div.overlay-bar-container {
    position: relative;
    display: flex;
    background-color: white;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    gap: 5px;
}

div.overlay-bar-items{
     display: flex;
     align-items: center;
     padding-left: 2px;
}

div.overlay-bar-items p{
     padding-left: 5px;
     color: black;
     font-size: 10px;
}

div.overlay-bar-items img{
    width: 20px;
    height: 20px;
    
}

img {
    width: 300px;
    height: 200px;
    display: block;
}

h2{
    font-size: 18px;
    text-align: center;
}

