* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* header */

.top-header {
    height: 300px;
    width: 100%;
    background-image: url(../images/header_background.png);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

/*  navigatie     */

nav{
    display: flex;
    font-size: 19px;
    background-color: #1520A6;
}

nav ul{
    text-align: center;
}

nav ul li{  
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a {   
    
    text-decoration: none;   
    color: black;
}

nav ul li a:hover {
    color: grey;
    transition: .3s;
}

/* footer */

footer {
    height: 50px;
    bottom: 0px;
    background-color: #1520A6;
}

footer p{
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.container {
    width: 960px;
    margin: 0 auto;
}

/*    index.php             */

div.top-content{
   padding-bottom: 10px;
}

div.top-content img{
   width: 100%;
   height: 600px;
   object-fit: cover;
}

div.top-content-naam h2{
    text-align: center;
    padding-bottom: 30px;
}

div.recept-titel{
    padding-bottom: 20px;
}

div.recept-titel h1{
    text-align: center;
    padding-bottom: 10px;
}

div.recepten-flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.recepten-item img{
    width: 300px;
    height: 200px;
}

div.recepten-item p{
    text-align: center;
    color: green;
}

/* recept.php styling  */

div.flex-container {
    display: flex;
}

div.recepten h1 {
    padding-bottom: 10px;
    text-align: center;
}

div.recepten p {
    padding-bottom: 10px;
}

div.recepten hr {
    margin-bottom: 20px; 
}

div.recept-box {
    display: flex;
    gap: 140px;
}

div.recept-algemeen p {
    width: 150px;
}

div.recept-algemeen img.recept-foto{
    width: 200px;
    height: 200px;
    border-image: round;
    padding-bottom: 10px;
}

div.recept-info h2 {
    padding-bottom: 20px;
}

div.timers {
    display: flex;
    flex-direction: column;
}

div.timer-tijd {
    display: flex;
    flex-direction: row;
}

div.timer-tijd h2{
    font-size: 15px;
    padding-top: 10px;
}

div.timer-tijd img.timer{
    width: 35px;
    height: 35px;
}

div.bereidingstijd p.kooktijd{
    padding-left: 40px;
}

div.ingrediënten h2{
    font-size: 20px;
    padding-bottom: 10px;
}

div.blok{
    width: 250px;
    height: 75px;
    background-color: green;
    border-radius: 150px;
    margin: 0 auto;
}

div.blok-inhoud{    
    width: 130px;
    height: 35px; 
    margin: 0 auto;
}

div.blok-inhoud p{
    padding-top: 10px;
}

div.blok-inhoud img{
    width: 35px;
}    


/*  recepten.php  styling */

div.categorie-tekst{
    width: 930px;
}

div.categorie-tekst h1{
    text-align: center;
    padding-bottom: 10px;
}

div.gerechten-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

div.gerechten {    
    position: relative;
}

div.gerechten img{
    width: 300px;
    height: 200px;
}

div.gerechten a{
    text-decoration: none;
    color: green;
}

div.gerechten-naam h2{
    padding-top: 10px;
    width: 300px;
    font-size: 18px;
    text-align: center;
}

div.overlay {
    position: absolute;
    top: 0;  
    background-color: grey;
    color: #f1f1f1;
    width: 300px;
    height: 200px;
    transition: .5s ease;
    opacity: 0;
    padding: 20px;
    
}
div.gerechten:hover .overlay {
    opacity: 1;
}

div.overlay-bar{
    position: absolute;
    bottom: -15px;
    right:  0.5px;
    width: 300px;
    height: 70px;
    transition: .5s ease;
    opacity: 0;
}

div.gerechten:hover .overlay-bar {
    opacity: 1;
}

div.overlay-bar-container {
    position: relative;
    display: flex;
    background-color: white;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    gap: 5px;
}

div.overlay-bar-items{
     display: flex;
     align-items: center;
     padding-left: 2px;
}

div.overlay-bar-items p{
     padding-left: 5px;
     color: black;
     font-size: 10px;
}

div.overlay-bar-items img{
    width: 20px;
    height: 20px;  
}





