* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/* header */

.top-header {
    height: 300px;
    width: 100%;
    background-image: url(../images/header_background.png);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

/*  navigatie     */

nav{
    display: flex;
    height: 70px;
    font-size: 22px;
    background-color: #1520A6;
    
}

nav ul{
    text-align: center;
}

nav ul li{  
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a {   
    
    text-decoration: none;   
    color: black;
}

nav ul li a:hover {
    color: grey;
    transition: .3s;
}

/* footer */

footer {
    height: 50px;
    bottom: 0px;
    background-color: #1520A6;
}

footer p{
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}

normale-main{ /* Class voor elke pagina behalve index.php   */
   padding-top: 20px;
   padding-bottom: 20px;
}

index-main{  /* class voor index.php   */
    padding-bottom: 20px;
}

div.container {
    width: 960px;
    margin: 0 auto;
}

/*    index.php             */

div.top-content img{
   width: 100%;
   height: 600px;
   object-fit: cover;
   display: block;
}

div.top-content a{
    text-decoration: none;
}

div.top-content-naam{
    width: 100%;
    background-color: green;
    
}

div.top-content-naam h1{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}


div.recept-titel{
    padding-top: 40px;
    padding-bottom: 20px;
}

div.recept-titel h2{
    text-align: center;
    padding-bottom: 10px;
}

div.recepten-flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

div.recepten-item{
    padding-bottom: 30px;
}

div.recepten-item img{
    width: 300px;
    height: 200px;
}

div.recepten-item p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: green;
}



div.recepten-item a{
    text-decoration: none;
}

/* recept.php styling  */

div.flex-container {
    display: flex;
}

div.recepten {
    padding-bottom: 20px; 
}

div.recepten h1 {
    padding-bottom: 10px;
    text-align: center;
}

div.recepten p {
    padding-bottom: 10px;
}


div.recept-box {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}


div.recept-algemeen img.recept-foto{
    width: 400px;
    height: 250px;
    border-image: round;
    padding-bottom: 10px;
}

div.recept-info h2 {
    padding-bottom: 20px;
}

div.timers {
    display: flex;
    flex-direction: column;
}

div.timer-tijd {
    display: flex;
    flex-direction: row;
}

div.timer-tijd h2{
    font-size: 15px;
    padding-top: 10px;
}

div.timer-tijd img.timer{
    width: 35px;
    height: 35px;
}

div.bereidingstijd{
    display: inline-flex;
    gap: 3px;
    padding-left: 35px;
}

div.ingrediënten p{
    width: 150px;
}

div.ingrediënten h2{
    font-size: 20px;
    padding-bottom: 10px;
}

div.blok{   
    width: 220px;
    height: 75px;
    background-color: green;
    border-radius: 150px;
    margin: 0 auto;
}

div.blok-inhoud{
    display: inline-flex;
    padding-top: 18px;
    padding-left: 50px;   
}

div.blok-inhoud p{
    padding-top: 10px;

}

div.blok-inhoud img{
    width: 35px;
}    


/*  recepten.php  styling */

div.categorie-tekst{
    width: 930px;
    padding-bottom: -5px;
}

div.categorie-tekst h1{
    text-align: center;
    padding-bottom: 10px;
}

div.gerechten-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

div.gerechten {    
    position: relative;
}

div.gerechten img{
    width: 300px;
    height: 200px;
}

div.gerechten a{
    text-decoration: none;
    color: green;
}

div.gerechten-naam h2{
    padding-top: 10px;
    width: 300px;
    font-size: 18px;
    text-align: center;
}

div.overlay {
    position: absolute; 
    top: 0;  
    background-color: grey;
    color: #f1f1f1;
    width: 300px;
    height: 200px;
    transition: .5s ease; 
    opacity: 0; /* transparantheid  */
    padding: 20px;
    
}
div.gerechten:hover .overlay { 
    opacity: 1;
}

div.overlay-bar{
    position: absolute;
    bottom: -15px;
    right:  0.5px;
    width: 300px;
    height: 70px;
    transition: .5s ease;
    opacity: 0;
}

div.gerechten:hover .overlay-bar {
    opacity: 1;
}

div.overlay-bar-container {
    position: relative;
    display: flex;
    background-color: white;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    gap: 5px;
}

div.overlay-bar-items{
     display: flex;
     align-items: center;
     padding-left: 2px;
}

div.overlay-bar-items p{
     padding-left: 5px;
     color: black;
     font-size: 10px;
}

div.overlay-bar-items img{
    width: 20px;
    height: 20px;  
}

/* registratie.php */
div.registratie-pagina{   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
     margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    
}

div.registratie-pagina h1{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.registratie-pagina p{
    text-align: center;
}

div.form-panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.panel-body{
    padding: 15px;
}

div.stripe-outer{
    border: 1px solid #eee;
    padding: 20px;
    margin: 20px 0px;
}

div.form-outer{
    padding-bottom: 20px;
}

div.form-outer h1{
    text-align: left;
}

div.input-groep{
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

div.input-groep p{
    font-size: 12px;
    color: gray;
    padding-left: 120px;
}

div.input-groep a{
    margin-left: 120px;
    font-size: 14px;
}

input.input-email, .input-tel{
    width: 357px;
}

input.input_wachtwoord_login, .input_email_login{
    width: 357px;
}

label.input-label{
    display: block;
    padding-bottom: 5px;
}

button.input_button{
    width: 357px;
    height: 30px;
    color: blue;
}

/* algemene forms styling */
form{
    max-width: 400px; 
}

input{
    height: 30px;
}

h1,h2,p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* zoek styling  */

form.zoeken{
    padding-top: 20px;
}

button.button-zoeken{
   
    height: 25px;
}



